<div>
  <h2 *ngIf="!isEditMode">Registrar Nuevo Programador</h2>
  <h2 *ngIf="isEditMode">Editar Programador</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="formData.email" name="email" required [disabled]="isEditMode">
    </div>
    <div class="form-group" *ngIf="!isEditMode">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="formData.password" name="password" required>
    </div>
    <div class="form-group">
      <label for="role">Rol:</label>
      <select id="role" [(ngModel)]="formData.role" name="role" required>
        <option value="programmer">Programador</option>
        <option value="user">Usuario</option>
        <option value="admin">Administrador</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="formData.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="lastname">Apellido:</label>
      <input type="text" id="lastname" [(ngModel)]="formData.lastname" name="lastname" required>
    </div>
    <div class="form-group">
      <label for="specialty">Especialidad:</label>
      <input type="text" id="specialty" [(ngModel)]="formData.specialty" name="specialty">
    </div>
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea id="description" [(ngModel)]="formData.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="photoURL">URL de Foto de Perfil:</label>
      <input type="text" id="photoURL" [(ngModel)]="formData.photoURL" name="photoURL">
    </div>
    <div class="form-group">
      <label for="contactLinks">Enlaces de Contacto (separados por coma):</label>
      <input type="text" id="contactLinks" [(ngModel)]="formData.contactLinks" name="contactLinks">
    </div>
    <div class="form-group">
      <label for="socialNetworks">Redes Sociales (separadas por coma):</label>
      <input type="text" id="socialNetworks" [(ngModel)]="formData.socialNetworks" name="socialNetworks">
    </div>
    <div class="modal-actions">
      <button type="submit" class="action-button primary">Guardar</button>
      <button type="button" class="action-button secondary" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
