<div class="sidebar">
  <div class="sidebar-header">
    <h4>Bienvenido, {{ currentUserName }}</h4>
    <p>{{ currentUserEmail }}</p>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" (click)="go('/user-dashboard/portfolio-list')">
        Portafolio
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="go('/user-dashboard/solicitar-asesoria')">
        Solicitar Asesoría
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        Cerrar Sesión
      </a>
    </li>
  </ul>
</div>
